* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background: linear-gradient(to right, #f3f3fb, #e0f0ff);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}



/* Blobs Container */
body::before,
body::after {
  content: '';
  position: absolute;
  width: 500px;
  height: 500px;
  background: radial-gradient(circle, #4facfe, #00f2fe);
  border-radius: 50%;
  opacity: 0.4;
  animation: floatBlobs 20s ease-in-out infinite alternate;
  z-index: -1;
}

body::after {
  top: auto;
  bottom: -150px;
  right: -200px;
  background: radial-gradient(circle, #43e97b, #38f9d7);
  animation-delay: 5s;
}

body::before {
  top: -150px;
  left: -200px;
}

@keyframes floatBlobs {
  0% {
    transform: translateY(0) scale(1);
  }
  50% {
    transform: translateY(-30px) scale(1.1);
  }
  100% {
    transform: translateY(0) scale(1);
  }
}


.container {
  width: 90%;
  max-width: 1000px;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.1);
  display: flex;
  overflow: hidden;
}

.login-box {
  display: flex;
  width: 100%;
}

.form-section {
  flex: 1;
  padding: 40px;
}

.image-section {
  flex: 1;
  background-color: #e3f2ff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image-section img {
  width: 90%;
  height: 90%;
  max-width: 550px;
}

.logo {
  color: #0997c6;
  font-weight: 600;
  margin-bottom: 10px;
}

.welcome {
  font-size: 14px;
  color: #888;
  margin-bottom: 10px;
}

h2 {
  font-size: 28px;
  color: #2c3e50;
  margin-bottom: 25px;
}

form label {
  display: block;
  margin-bottom: 5px;
  color: #444;
  font-weight: 500;
}

form input {
  width: 100%;
  padding: 12px 15px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 14px;
}

.forgot-password {
  text-align: right;
  margin-bottom: 20px;
}

.forgot-password a {
  text-decoration: none;
  color: #3498db;
  font-size: 13px;
}

.login-btn {
  width: 100%;
  padding: 12px;
  background-color:  #0997c6;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  margin-bottom: 20px;
  transition: background-color 0.3s;
}

.login-btn:hover {
  background-color: #0997c6;
}

.signup-text {
  text-align: center;
  font-size: 13px;
}

.signup-text a {
  color: #0997c6;
  text-decoration: none;
}
